<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Band Projects</h5>
      <div class="row">
      <% @band_projects.each do |b| %>
        <%= link_to b.user do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <% if b.photo.present? %>
                          <%= cl_image_tag b.photo, class: "img-fluid" %>
                        <% else %>
                          <%= cl_image_tag 'gszxqviaydsccaq4ec87', class: "img-fluid" %>
                        <% end %>
                      </p>
                      <h4 class="card-title"><%= b.user.email %></h4>
                      <p class="card-text">This is basic card with image on top, title, description and button.</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                    <h4 class="card-title"><strong><%= b.name %></strong></h4>
                    <!-- Subtitle -->
                    <h5 class="blue-text pb-2"><strong><%= b.city %></strong></h5>
                    <!-- Text -->
                    <p class="card-text"><%= b.influence %> </p><br>
                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="#">
                            <i class="fab fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="#">
                            <i class="fab fa-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="#">
                            <i class="fab fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer text-muted text-center mt-4">
                      <%= b.updated_at.strftime('%d/%m/%y') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
        <% end %>
      <% end %>
    </div>
  </div>
</section>




<%= link_to "Band Project", new_band_project_path, class: "btn btn-gradient" %>
