<div class="card-trip">
  <%= cl_image_tag @band_project.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @band_project.name %></h2>
      <p><%= @band_project.city %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <%= cl_image_tag @band_project.user.photo, class: "card-trip-user avatar-bordered" %>
  </div>
</div>

<% if current_user == @band_project.user %>
  <p>boss</p>
  <% if @band_project.applyings.present? %>
    <% @band_project.applyings.each do |a| %>
      <%= a.user.try(:email) %>
      <%= a.message %><br>
    <% end %>
  <% end %>
<% else %>
  <p>visitor</p>
<% end %>

<% if current_user != @band_project.user %>
  <%= render 'applyings/form' %>
<% end %>
