<div class="card-trip">
  <%= cl_image_tag @band_project.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @band_project.name %></h2>
      <p><%= @band_project.city %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <%= cl_image_tag @band_project.user.photo, class: "card-trip-user avatar-bordered" %>
  </div>
</div>

<% if current_user != @band_project.user %>
  <%= render 'applyings/form' %>
<% end %>

<section class="row-section">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><span>Messages</span>Created with <i class="fa fa-heart"></i></h2>
    </div>
    <% if current_user == @band_project.user %>
      <p>boss</p>
      <% if @band_project.applyings.present? %>
        <% @band_project.applyings.each do |a| %>
          <div class="col-md-10 offset-md-1 row-block">
            <ul id="sortable">
              <li><div class="media">
                <div class="media-left align-self-center">
                  <% if a.user.try(:photo).present? %>
                    <%= cl_image_tag a.user.try(:photo) %>
                  <% else %>
                    <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/50.jpg">
                  <% end %>
                </div>
                  <div class="media-body">
                    <h4><%= a.user.try(:email) %></h4>
                    <p><%= a.message %></p>
                  </div>
                  <div class="media-right align-self-center">
                    <a href="#" class="btn btn-default">Contact Now</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>visitor</p>
    <% end %>

  </div>
</section>
