<% if @user == current_user %>
  <%= render 'user_form' %>
<% end %>
<!-- Card -->
<div class="card card-cascade wider reverse">

  <!-- Card image -->
  <div class="view view-cascade overlay">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo, class: "card-img-top" %>
      <% else %>
        <%= cl_image_tag "gszxqviaydsccaq4ec87.jpg", class: "card-img-top" %>
      <% end %>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title">
      <strong><%= @user.email %></strong><br>
      <strong>
      <% if @user.name.present? %>
        <%= @user.name %>
      <% end %>
      <% if @user.surname.present? %>
        <%= @user.surname %>
      <% end %>
      </strong>
    </h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">
      <% if @user.city.present? %>
        <%= @user.city %>
      <% end %>
    </h6>
    <!-- Text -->
    <p class="card-text">Instrument:
      <% if @user.instruments.present? %>
        <% @user.instruments.each do |i| %>
          <strong><%= i.name %></strong>
        <% end %>
      <% else %>
        <strong>None</strong>
      <% end %>
      Level :
      <strong>
        <% if @user.categories.present? %>
          <% @user.categories.each do |u| %>
            <%= u.name %>
          <% end %>
        <% end %>
      </strong> FOLLOW ME.</p>

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    <a class="px-2 fa-lg fb-ic"><i class="fab fa-black-tie"></i></a>

  </div>

</div>
<!-- Card -->
<div class="card-product">
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= cl_image_tag("gszxqviaydsccaq4ec87.jpg") %>
  <% end %>
  <div class="card-product-infos">
    <p>
      <% if @user.nickname.present? %>
        <%= @user.nickname %>
      <% end %>
    </p>

    <p>
      <% if @user.age.present? %>
        <%= @user.age %>
      <% end %>
    </p>
  </div>
</div>

<%= link_to 'users', users_path %>

<% if @user.mobility.present? %>
  <%= @user.mobility %>
<% end %>

<% if @user.regions.present? %>
  <% @user.regions.each do |a| %>
    <%= a.name %>
  <% end %>
<% end %>

<% if @user.genres.present? %>
  <% @user.genres.each do |i| %>
    <%= i.name %>
  <% end %>
<% end %>

<% if @user.abilities.present? %>
  <% @user.abilities.each do |i| %>
    <%= i.name %>
  <% end %>
<% end %>

<% if @user != current_user %>
  <%= render 'user' %>
<% end %>
<% if @user == current_user %>
  <%= link_to 'publish', new_publication_path %>
  <%= link_to 'Band_project', new_band_project_path %>
<% end %>
<%= link_to 'Projects', band_projects_path %>


<% if @user.band_projects.present? %>
  <% @user.band_projects.each do |i| %>
    <%= link_to i do %>
      <div class="card-trip">
        <%= cl_image_tag i.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= i.name %></h2>
            <p><%= i.city %></p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <%= cl_image_tag i.user.photo, class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

