<% if @user == current_user %>
  <%= render 'user_form' %>
<% end %>
<div class="card-product">
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h2>
      <% if @user.name.present? %>
        <%= @user.name %>
      <% end %>
      <% if @user.surname.present? %>
        <%= @user.surname %>
      <% end %>
    </h2>
    <p>
      <% if @user.nickname.present? %>
        <%= @user.nickname %>
      <% end %>
    </p>
    <p>
      <% if @user.city.present? %>
        <%= @user.city %>
      <% end %>
    </p>
    <p>
      <% if @user.age.present? %>
        <%= @user.age %>
      <% end %>
    </p>
    <p>Instrument:
      <% if @user.instruments.present? %>
        <% @user.instruments.each do |i| %>
          <strong><%= i.name %></strong>
        <% end %>
      <% else %>
        <strong>None</strong>
      <% end %>
      Level :
      <strong>
        <% if @user.categories.present? %>
          <% @user.categories.each do |u| %>
            <%= u.name %>
          <% end %>
        <% end %>
      </strong> FOLLOW ME.
    </p>
  </div>
</div>

<%= link_to 'users', users_path %>

<% if @user.mobility.present? %>
  <%= @user.mobility %>
<% end %>

<% if @user.regions.present? %>
  <% @user.regions.each do |a| %>
    <%= a.name %>
  <% end %>
<% end %>

<% if @user.genres.present? %>
  <% @user.genres.each do |i| %>
    <%= i.name %>
  <% end %>
<% end %>

<% if @user.abilities.present? %>
  <% @user.abilities.each do |i| %>
    <%= i.name %>
  <% end %>
<% end %>

<% if @user != current_user %>
  <%= render 'user' %>
<% end %>
<% if @user == current_user %>
  <%= link_to 'publish', new_publication_path %>
  <%= link_to 'Band_project', new_band_project_path %>
<% end %>
<%= link_to 'Projects', band_projects_path %>


<% if @user.band_projects.present? %>
  <% @user.band_projects.each do |i| %>
    <%= link_to i do %>
      <div class="card-trip">
        <%= cl_image_tag i.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= i.name %></h2>
            <p><%= i.city %></p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <%= cl_image_tag i.user.photo, class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

