<div class="container main-section">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 image-section">
      <img src="http://nicesnippets.com/demo/Nature-Night-Sky-Stars-Blurred-Light-Show-Mountains-WallpapersByte-com-1920x1080.jpg">
    </div>
    <div class="row user-left-part">
      <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
        <div class="row ">
          <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
            <% if @user.photo.present? %>
              <%= cl_image_tag @user.photo, class: "card-img-top" %>
            <% else %>
              <%= cl_image_tag "gszxqviaydsccaq4ec87.jpg", class: "card-img-top" %>
            <% end %>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
            <button class="btn btn-defult follow "><i class="fa fa-user-o" aria-hidden="true"></i> FOLLOW</button>
          </div>
          <div class="row user-detail-row">
            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
              <div class="border"></div>
              <p>FOLLOWER</p>
              <span>320</span>
            </div>
            <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
              <div class="border"></div>
              <p>FOLLOWING</p>
              <span>147</span>
            </div>
          </div>
          <div class="col-md-12 user-detail-section2">
            <div class="border"></div>
            <p>PUBLICATIO</p>
            <span>56 <small>and 42 review</small></span>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
        <div class="row profile-right-section-row">
          <div class="col-md-12 profile-header">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                <h1>
                  <% if @user.name.present? %>
                    <%= @user.name %>
                  <% end %>
                  <% if @user.surname.present? %>
                    <%= @user.surname %>
                  <% end %>
                </h1>
                <p><%= @user.email %></p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                <button class="btn btn-info req-btn"> REQUEST</button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8  profile-tag-section text-center">
                <div class="row">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-class" role="tab" aria-controls="nav-class" aria-selected="false">Class</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-clean" role="tab" aria-controls="nav-clean" aria-selected="false">Clean</a>
                    </div>
                  </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <% if @user.name.present? %>
                      <%= @user.name %>
                    <% end %>
                    <% if @user.surname.present? %>
                      <%= @user.surname %>
                    <% end %>
                    <% if @user.nickname.present? %>
                      <%= @user.nickname %>
                    <% end %>

                    <% if @user.age.present? %>
                      <%= @user.age %>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <% if @user.instruments.present? %>
                      <% @user.instruments.each do |i| %>
                        <strong><%= i.name %></strong>
                      <% end %>
                    <% else %>
                      <strong>None</strong>
                    <% end %>
                    Level :
                    <strong>
                      <% if @user.categories.present? %>
                        <% @user.categories.each do |u| %>
                          <%= u.name %>
                        <% end %>
                      <% end %>
                    </strong>
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <% if @user.city.present? %>
                      <%= @user.city %>
                    <% end %>
                    <% if @user.mobility.present? %>
                      <%= @user.mobility %>
                    <% end %>
                    <br>
                    <% if @user.regions.present? %>
                      <% @user.regions.each do |a| %>
                        <%= a.name %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="nav-class" role="tabpanel" aria-labelledby="nav-class-tab">
                    <% if @user.genres.present? %>
                      <% @user.genres.each do |i| %>
                        <%= i.name %>
                      <% end %>
                    <% end %>
                    <br>
                    <% if @user.abilities.present? %>
                      <% @user.abilities.each do |i| %>
                        <%= i.name %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="nav-clean" role="tabpanel" aria-labelledby="nav-clean-tab">
                        <!-- Linkedin -->
                    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                    <!-- Twitter -->
                    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                    <!-- Dribbble -->
                    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                    <a class="px-2 fa-lg fb-ic"><i class="fab fa-black-tie"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 img-main-rightPart">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row image-right-part">
                      <div class="col-md-6 pull-left image-right-detail">
                        <p>TODAYHIGHLIGHT</p>
                      </div>
                      <div class="col-md-6 pull-right image-right-detail text-right">
                        <span><a href="http://nicesnippets.com">more</a></span>
                      </div>
                    </div>
                  </div>
                  <% if @user.band_projects.present? %>
                    <% @user.band_projects.each do |i| %>
                      <%= link_to i do %>
                        <div  class="col-md-12 image-right">
                          <%= cl_image_tag i.photo %>
                        </div>
                        <div class="col-md-12 image-right-detail-section2">
                          <h2><%= i.name %></h2>
                          <p><%= i.city %></p>
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div  class="col-md-12 image-right">
                      <img src="http://nicesnippets.com/demo/Nature-Night-Sky-Stars-Blurred-Light-Show-Mountains-WallpapersByte-com-1920x1080.jpg">
                    </div>
                    <div class="col-md-12 image-right-detail-section2">
                      <p>Urban planning consulation</p>
                      <span>Lorem ipsum dolor sit amet, consectetur adipisibj.</span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if @user == current_user %>
  <%= render 'user_form' %>
<% end %>


<%= link_to 'users', users_path, class: "btn-flat" %>



<% if @user != current_user %>
  <%= render 'user' %>
<% end %>
<% if @user == current_user %>
  <%= link_to 'publish', new_publication_path, class: "btn-flat" %>
  <%= link_to 'Band_project', new_band_project_path, class: "btn-flat" %>
<% end %>
<%= link_to 'Projects', band_projects_path, class: "btn-flat" %>






